* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  min-height: 100vh;
}

.dayBackground {
  background-image: linear-gradient(
    to top,
    #4926ad,
    #4a44bd,
    #505dca,
    #5a74d5,
    #6a8bde,
    #7596df,
    #82a1e0,
    #8face1,
    #96afdd,
    #9db2d8,
    #a4b5d4,
    #abb8cf
  );
}

.eveningBackground {
  background-image: linear-gradient(
    to top,
    #4926ad,
    #443eb5,
    #4351ba,
    #4861bc,
    #5371bd,
    #5372b2,
    #5673a7,
    #5a739c,
    #516586,
    #485870,
    #404b5b,
    #383e47
  );
}

.nightBackground {
  background-image: linear-gradient(
    to top,
    #462b90,
    #373389,
    #2c377f,
    #273a74,
    #283c68,
    #283b5f,
    #2a3a55,
    #2c384c,
    #2a3444,
    #28303d,
    #262c35,
    #24282e
  );
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 0.5fr 0.4fr 0.8fr 0.2fr;
  row-gap: 10px;
}

.menu-box {
  padding: 5px;
  opacity: 0.5;
}

.menu {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-image: linear-gradient(
    to top,
    #5c41a5,
    #4d31ae,
    #55478b,
    #615499,
    #5a4f99
  );
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: whitesmoke;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.top-section {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.2fr 0.5fr;
  row-gap: 15px;
  align-items: center;
}

.greeting-box h1 {
  text-align: center;
  font-size: 28px;
}

.weather-place-box {
  grid-column: 2;
  background-color: #273a7431;
  padding: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.weather-svg-temp-box {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.weather-place-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.weather-temp-box p {
  font-size: 24px;
  font-weight: bold;
}

.current-place-box {
  align-self: center;
}

.current-place-box p {
  font-size: 18px;
}

.calender-clock-section {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}

.calender-container {
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 5px;
  align-items: center;
}

.calender-box-container {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 5px;
  border-radius: 10px;
  background-color: #38467291;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.day-div p,
.day-date-div p {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.clock-container {
  margin-top: 8px;
  border-radius: 10px;
  padding: 10px;
  background-color: #5049ca1e;
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-section {
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
}

.task-box {
  padding: 0 5px 0 5px;
  display: grid;
  grid-template-rows: 0.7fr 0.5fr 1fr;
  row-gap: 5px;
}

.task-title-div h3 {
  text-align: center;
}

.task-msg-div {
  overflow: hidden;
}

.task-msg-div p {
  text-align: center;
}

.task-opt-container {
  padding: 5px;
  justify-self: center;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  75% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

input[type="checkbox"]:checked {
  transition: all 0.3s 0s ease;
  animation: bounce 0.15s linear;
}

.remove-task[type="checkbox"] {
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f5f5f700;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 5px solid #cc0000b0;
  display: inline-block;
  margin-top: 0;
  margin-bottom: -2px;
  transition: all 0.3s 0s ease;
}

.remove-task[type="checkbox"]:checked {
  background-color: #f5f5f700;
  text-align: center;
  border: 20px solid #cc0000b0;
  animation: bounce 0.15s linear;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(204, 0, 0, 0.85);
}

.task-done[type="checkbox"] {
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f5f5f700;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 5px solid #4cd963bd;
  display: inline-block;
  margin-top: 0;
  margin-bottom: -2px;
  transition: all 0.3s 0s ease;
}
.task-done[type="checkbox"]:checked {
  background-color: #f5f5f700;
  text-align: center;
  border: 20px solid #4cd963bd;
  box-shadow: inset 0px 0px 0px 3px #01bd6f;
}

.edit-task[type="checkbox"] {
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f5f5f700;
  border-radius: 11%;
  -webkit-border-radius: 11%;
  border: 5px solid #0244fcbb;
  display: inline-block;
  margin-top: 0;
  margin-bottom: -2px;
  transition: all 0.3s 0s ease;
}
.edit-task[type="checkbox"]:checked {
  background-color: #f5f5f700;
  text-align: center;
  border: 20px solid #0244fcbb;
  box-shadow: inset 0px 0px 0px 3px #0f6ddc;
}

.task-opt-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.add-task-btn-section {
  justify-self: center;
}

.add-task-svg-box {
  background-image: linear-gradient(
    to top,
    rgba(74, 38, 173, 0.2),
    rgba(74, 68, 189, 0.2),
    rgba(80, 92, 202, 0.2),
    rgba(90, 117, 213, 0.2),
    rgba(106, 139, 222, 0.2),
    rgba(117, 151, 223, 0.2),
    rgba(130, 161, 224, 0.2),
    rgba(143, 172, 225, 0.2),
    rgba(150, 175, 221, 0.2),
    rgba(157, 178, 216, 0.2),
    rgba(164, 181, 212, 0.2),
    rgba(171, 184, 207, 0.2)
  );
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.add-task-svg {
  fill: whitesmoke;
  transition: all 0.5s ease-in;
}

.add-task-svg-box:active .add-task-svg {
  transform: rotate(360deg);
}

/* Reusable classes */
.hidden {
  display: none;
}

.high-priority {
  border-left: 10px solid yellow;
  background-color: rgba(255, 255, 0, 0.2);
}

.medium-priority {
  border-left: 10px solid orange;
  background-color: rgba(255, 166, 0, 0.2);
}

.low-priority {
  border-left: 10px solid whitesmoke;
  background-color: rgba(245, 245, 245, 0.3);
}

.task-done {
  opacity: 0.4;
}
